 डिव्हाइसच्या OS ची माहिती (जसे की ब्राउझर आणि OS च्या आवृत्त्या)तुमच्या कार्य प्रोफाइलमध्ये इंस्टॉल केलेली ॲप्स आणि एक्स्टेंशनतुमच्या कार्य प्रोफाइलमध्ये लागू केलेली ब्राउझर धोरणे<a target="_blank" href="https://support.google.com/chrome/a/?p=browser_profile_details" >अधिक जाणून घ्‍या</a>फाइल अटॅच केली आहेफाइल डाउनलोड केली गेलीमजकूर एंटर केला गेलापेज प्रिंट केले आहेएक्स्टेंशनसंबंधित इव्‍हेंट आढळला आहेतुम्ही अपलोड किंवा अटॅच केलेल्या फाइल विश्लेषणासाठी Google Cloud किंवा तृतीय पक्षांकडे पा